.badge-lg{
    display:flex;
    justify-content: center;
    align-items: center;
    width:28px;
    height: 18px;
    border-radius:13px;
    background-color: rgb(255, 89, 60);
    color: white;
    font-size:10px;
    font-weight: 900;
    position:absolute;
}
.badge-sm{
    display:flex;
    justify-content: center;
    align-items: center;
    width:18px;
    height: 18px;
    border-radius:14px;
    background-color: rgb(255, 89, 60);
    color: white;
    font-size:10px;
    font-weight: 900;
    position:absolute;
}